<h3>MatTooltip</h3>

@code {

    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public string? Wrap { get; set; }
    [Parameter] public string? Position { get; set; }
    [Parameter] public string? TargetId { get; set; }

}