@inject IStringLocalizer<NavMenuContentResource> Localizer
@inject AppSettings AppSettings

<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/"  Match="NavLinkMatch.All">@Localizer["home"]</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>

@if (_uiVersion is not null)
{
    <span class="version-drawer-bottom">v@(_uiVersion)</span>
}
@code
{
    string? _uiVersion;

    protected override Task OnInitializedAsync()
    {
        _uiVersion = AppSettings.AppVersion;
        return base.OnInitializedAsync();
    }
}
