@using Microsoft.AspNetCore.Components
@inject IMatToaster Toaster
@inject IStringLocalizer<InputFileResource> Localizer

<MatFileUpload OnChange="@FilesReady" Label="@Localizer["selectFileLabel"]" AllowMultiple="true" />
@if (Document.Files.Any())
{
    <div class="mt-1">@(Document.Files.Count > 1 ? Localizer["selectedManyFileLabel"] : Localizer["selectedSingleFileLabel"])
        <span class="text-info">@string.Join(", ", Document.Files.Select(f => f.Name))</span>
        </div>
}

@code {

    [Parameter]
    public Document Document { get; set; } = new();
    
    [Parameter]
    public EventCallback<Document> DocumentChanged { get; set; }
    
    private async Task FilesReady(IMatFileUploadEntry[] files)
    {
        Document.Files.Clear();
        foreach (IMatFileUploadEntry file in files)
        {
            if (file.Type != "application/vnd.openxmlformats-officedocument.wordprocessingml.document")
            {
                Toaster.Add(Localizer["toasterWrongFileTypeDescription"], MatToastType.Warning, Localizer["toasterWrongFileTypeTitle"], MatIconNames.Block);
            }
            else
            {
                Document.Files.Add(file);
            }
        }

        await DocumentChanged.InvokeAsync(Document);
    }
}