@using WordReplacer.Models
<div class="container">
    @if (Downloads.Count > 0)
    {
        @foreach (var download in Downloads)
        {
            <div class="row">
                <div class="col-9">
                    @download.FileName
                </div>
                <div class="col-3">
                    @if (download.IsDownloadCompleted)
                    {
                        <MatIcon Icon="done" Class="icon-primary-color"/>
                    @* <i class="fa fa-check" aria-hidden="true"></i> *@
                    }
                    else
                    {
                        <MatProgressCircle Indeterminate="@download.IsProgressIndeterminate" Progress="@download.Progress" Size="MatProgressCircleSize.Small"/>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-12">
                No downloads yet.
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<Download> Downloads { get; set; } = new List<Download>();

    [Parameter]
    public EventCallback<List<Download>> DownloadsChanged { get; set; }

}