@using Microsoft.AspNetCore.Components
@inject IMatToaster Toaster
@inject IStringLocalizer<InputFileResource> Localizer

<MatFileUpload OnChange="@FilesReady" Label="@Localizer["selectFileLabel"]" />
@if (Document.File is not null)
{
    <div class="mt-1">@Localizer["selectedFileLabel"]<span class="text-info">@Document.File.Name</span></div>
}

@code {

    [Parameter]
    public Document Document { get; set; } = new();
    
    [Parameter]
    public EventCallback<Document> DocumentChanged { get; set; }
    
    private async Task FilesReady(IMatFileUploadEntry[] files)
    {
        foreach (IMatFileUploadEntry file in files)
        {
            if (file.Type != "application/vnd.openxmlformats-officedocument.wordprocessingml.document")
            {
                Document.File = null;
                Toaster.Add(Localizer["toasterWrongFileTypeDescription"], MatToastType.Warning, Localizer["toasterWrongFileTypeTitle"], MatIconNames.Block);
            }
            else
            {
                Document.File = file;
            }
        }

        await DocumentChanged.InvokeAsync(Document);
    }
}