@inject IStringLocalizer<NavMenuContentResource> Localizer
@inject AppSettings AppSettings

<MatNavMenu>
    <MatNavItem Href=""><MatIcon Icon="home"></MatIcon>&nbsp; @Localizer["home"] </MatNavItem>
</MatNavMenu>
@if (_uiVersion is not null)
{
    <span class="version-drawer-bottom">v@(_uiVersion)</span>
}
@code
{
    string? _uiVersion;

    protected override Task OnInitializedAsync()
    {
        _uiVersion = AppSettings.AppVersion;
        return base.OnInitializedAsync();
    }
}
