<MudTooltip Text="@TooltipText" Color="Color.Primary" Placement="Placement.Top">
    <MudButton>
        <i id="preset-text-id" class="fa fa-info-circle primary-color"></i>
        <span class="preset-text">@LabelText</span>
    </MudButton>
</MudTooltip>
<PresetsComponent Document="Document" DocumentChanged="DocumentChanged" />

@code {
    [Parameter] public string TooltipText { get; set; } = string.Empty;
    [Parameter] public string LabelText { get; set; } = string.Empty;
    [Parameter] public Document Document { get; set; }
    [Parameter] public EventCallback<Document> DocumentChanged { get; set; }

    private async Task OnDocumentChanged(Document updatedDoc)
    {
        await DocumentChanged.InvokeAsync(updatedDoc);
    }
}
